*:where(:not(html,canvas,img,svg,video,audio):not(svg *,symbol *)) {
    all: unset;
    display: revert
}

*,*:before,*:after {
    box-sizing: border-box
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none
}

a,button {
    cursor: revert
}

ol,ul,menu,summary {
    list-style: none
}

img {
    max-inline-size: 100%;
    max-block-size: 100%
}

table {
    border-collapse: collapse
}

input,textarea {
    -webkit-user-select: auto
}

textarea {
    white-space: revert
}

meter {
    -webkit-appearance: revert;
    -moz-appearance: revert;
    appearance: revert
}

:where(pre) {
    all: revert;
    box-sizing: border-box
}

::placeholder {
    color: unset
}

:where([hidden]) {
    display: none
}

:where([contenteditable]:not([contenteditable=false])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto
}

:where([draggable=true]) {
    -webkit-user-drag: element
}

:where(dialog:modal) {
    all: revert;
    box-sizing: border-box
}

::-webkit-details-marker {
    display: none
}

* {
    padding: 0;
    margin: 0
}

html,body {
    max-width: 100vw
}

body {
    font-style: normal;
    font-weight: 400;
    overflow-wrap: break-word;
    font-feature-settings: "palt";
    letter-spacing: 0;
    overscroll-behavior-y: none
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    scroll-behavior: auto;
    -webkit-user-select: none;
    user-select: none;
    touch-action: pan-x pan-y;
    overflow-x: clip
}

a,button {
    display: block;
    border: none;
    outline: none;
    text-decoration: none;
    background: none
}

a>*,button>* {
    pointer-events: none
}

a:focus:not(:fous-visible),button:focus:not(:fous-visible) {
    outline: none
}

a img,button img {
    border: none
}

a,button,input,label,textarea,select {
    color: inherit;
    pointer-events: auto;
    cursor: pointer
}

@media (hover: none) {
    a,button,input,label,textarea,select {
        -webkit-tap-highlight-color:rgba(0,0,0,0)
    }
}

@media (hover: none) {
    a:focus-visible,button:focus-visible,input:focus-visible,label:focus-visible,textarea:focus-visible,select:focus-visible {
        outline:none
    }
}

img {
    border: 0;
    height: auto;
    pointer-events: none;
    vertical-align: middle;
    width: 100%
}

picture {
    display: block
}

iframe {
    width: 100%
}

ul,ol,li {
    list-style: none
}

svg {
    overflow: visible
}

._wrapper_t4z32_1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-image: url(/bg-noise.jpg);
    background-repeat: repeat;
    background-size: 128px 128px
}

@media screen and (max-width: 560px) {
    ._wrapper_t4z32_1 {
        padding-bottom:16vh
    }
}

._container_t4z32_19 {
    position: relative;
    scale: calc(3.2 * var(--progress) + 1);
    filter: blur(calc(var(--progress) * 12px));
    pointer-events: none
}

@keyframes _rotate_t4z32_1 {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

._layer_t4z32_34 {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%
}

._layer_t4z32_34._top_t4z32_40 {
    animation: _rotate_t4z32_1 12s linear infinite
}

._layer_t4z32_34._bottom_t4z32_43 {
    animation: _rotate_t4z32_1 10s linear infinite reverse
}

._webgl_t4z32_47 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    z-index: -1;
    background-color: #000
}

._canvas_t4z32_57 {
    opacity: calc(1 - var(--progress) * .8)
}

._title_t4z32_64 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 6.4vh;
    mix-blend-mode: exclusion;
    opacity: calc(1 - var(--progress) * 2);
    width: min(90%,880px);
    margin: auto
}

@media screen and (max-width: 560px) {
    ._title_t4z32_64 {
        bottom:24vh
    }
}

._gui_t4z32_83 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #000;
    z-index: 10;
    padding: 24px
}

._gui_t4z32_83 input {
    background-color: #fff
}
